.default-layout-header {
  box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0.24);
  padding: 30px 0;
  background-color: $color-element;
  margin-bottom: 5px;
}

.dark-mode-toggle {
  cursor: pointer;
  padding: 8px 12px;
  text-align: center;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 100ms;
  @include text-size(16px, 1.5, 600);

  &:hover {
    box-shadow: 0 0 4px 0 $color-shadow;
  }
}
