/**
* Page
**************************************/
$page-padding-x: 25px;

/**
* Container
**************************************/
$container-padding-top: 0;
$container-padding-bottom: 0;
$container-min-height: auto;

/**
* panel
*************************************/
$min-height-panel-header: 80px;
$min-height-panel-footer: 50px;
$panel-top: 90px;
$panel-bottom: 60px;
$panel-nav-width: 320px;
