$color-text: var(--color-text);
$color-text-dark: var(--color-text-dark);

$color-bg: var(--color-bg);
$color-bg-dark: var(--color-bg-dark);

$color-element: var(--color-element);
$color-element-dark: var(--color-element-dark);

$color-shadow: var(--color-shadow);
