.country-item {
  max-width: 264px;
  background-color: $color-element;
  box-shadow: 0 0 6px 0 $color-shadow;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 72px;

  @media #{$media-down-md} {
    margin-right: auto;
    margin-left: auto;
  }

  &__flag {
    width: 100%;
    display: block;
    aspect-ratio: 4 / 3;
    object-fit: fill;
  }

  &__title {
    @include text-size(16px, 2, 600);
    margin-bottom: 16px;
    text-transform: capitalize;
  }
}
